@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Agdasima 
max-width: 500px; // Limite maximo do texto
white-space: nowrap; // Removendo quebra de linha
overflow: hidden; // Removendo a barra de rolagem
text-overflow: ellipsis; // Adicionando "..." ao final do texto


overflow: hidden; // Removendo barra de rolagem
text-overflow: ellipsis; // Adicionando "..." ao final
display: -webkit-box;
-webkit-line-clamp: 2; // Quantidade de linhas
-webkit-box-orient: vertical; 




*/

:root {
    --cor1: #81604c;
    --cor2: #70513d;
    --cor3: #5f422f;
    --cor4: #4e3220;
    --cor5: #3d2311;

    --fonte-escrita: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-padrao: 'Agdasima', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(Artistico\ Madeira\ HD\ Papel\ De\ Parede.jpg);
    background-color: var(--cor2);
    background-size: 100% 100%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 97vh;
    padding: 10px;
    max-width: 750px;
    margin: auto;
}

header {
    background-image: linear-gradient(var(--cor3), var(--cor2), var(--cor3));
    text-align: center;
    padding: 21px;
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 1.5em;
    
}
header > h2 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.212);
}

main {
    text-align: justify;
    columns: 2;
    background-image: linear-gradient(var(--cor3), var(--cor2), var(--cor3), var(--cor3));
    font-family: var(--fonte-padrao);
    font-size: 1em;
    margin-top: -10px;
    padding: 15px;
}
.soma {
    padding: 30px 0px 10px 10px;
}
.tirol {
    padding: 2px 10px 5px 10px;
    margin-bottom: 40px;
    
}
.vendedor{
    padding: 30px 10px 10px 10px;
}
.almoxarife {
    padding: 30px 10px 10px 10px;
}

footer > p {
    text-align: center;
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    padding: 5px 0px 20px 0px;
}
.proximo {
    text-decoration: none;
    font-family: var(--fonte-padrao);
    color: white;
    border-radius: 2px;
    padding: 2px 2px 2px 2px;
    font-weight: bold;
    transition: 0.5;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    background-color: var(--cor5);
    font-size: 1.5em;
    display: inline-block;
    margin-top: 05px;
}
footer > p > a:hover{
    background-color: black;
}
.voltar {
    text-decoration: none;
    color: white;
    border-radius: 2px;
    padding: 2px;
    font-weight: bold;
    transition: 0.5;
    font-family: var(--fonte-padrao);
    box-shadow: 2px 2px 2px 2px black;
    background-color: var(--cor5);
    color: white;
    font-size: 1.3em;
    display: inline-block;
    margin-left: 5px;
}
nav > p {
    background-color: var(--cor3);
    margin: auto;
    padding-bottom: 5px;
}
nav > p > a:hover{
    background-color: black;
}
